@font-face {
    font-family: 'Nexa';
    // src: url('./Nexa-Bold.woff2') format('woff2'),
    //     url('./Nexa-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

